.story-circles-container {
  width: 100%;
  overflow-x: auto;
  padding: 10px 0;
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.story-circles-container::-webkit-scrollbar {
  display: none;
}

.story-circles {
  display: flex;
  padding: 0 10px;
}

.story-circle {
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.story-circle-border {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  background: linear-gradient(
    45deg,
    #f09433,
    #e6683c,
    #dc2743,
    #cc2366,
    #bc1888
  );
}

.story-circle-border.viewed {
  background: #dbdbdb;
}

.story-circle-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid white;
  object-fit: cover;
}

.story-username-1 {
  font-size: 12px;
  color: #262626;
  max-width: 70px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}
